@font-face {
    font-family: myfont;
    src: url(/home/rajat/Documents/player/manuka-font-family/TestManuka-Regular-BF663c33db89825.otf);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#title {
    position: absolute;
    left: -5.5em;
    font-size: 2.5em;
    transform: rotate(-90deg);
    /* font-family: myfont; */
}


.player-container {
    margin-top: -3em;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.video-player {
    max-height: 40em;
    width: 70em;
    background-color: black;
    border-radius: 4px;
}

.controls {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

input[type="file"] {
    padding: 8px 10px 8px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    width: 30em;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

input[type="file"]:hover {
    background-color: wheat;
    color: black;
    opacity: 1;
}

input::file-selector-button {
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border: thin solid grey;
  border-radius: 10px;
  margin-right: 1em;
}

