@font-face {
    font-family: myfont1;
    src: url(assets/Fonts/overcame-demo/OvercameDemoOutline.ttf);
}

@font-face {
    font-family: myfont2;
    src: url(assets/Fonts/overcame-demo/OvercameDemoBold.ttf);
}

@font-face {
    font-family: myfont3;
    src: url(assets/Fonts/swera-demo/Swera\ Bold\ Demo.otf);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    cursor: url(assets/icons/cursor20x20.png), auto;
}

.heading {
    position: absolute;
    top: 1%;
    left: 30.5%;
    margin: 0;
    font-size: 2em;
    font-family: "myfont1";
    letter-spacing: 0.5em;
}

span{
    font-family: "myfont2";
}

h2 {
    font-size: 2em;
    cursor: url(assets/icons/cursor20x20.png), auto;
}

#title {
    position: absolute;
    top: -1%;
    font-size: 1.5em;
}

label{
    cursor: url(assets/icons/cursor_zoom32x32.png), pointer;
}

input{
    cursor: url(assets/icons/cursor20x20.png), auto;
}

.hidden {
    display: none;
}

.intro-msg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    bottom: 4%;
    border-radius: 10px;
    padding: 0.7em 1.5em;
    font-size: 1.4em;
    background-color: antiquewhite;
    filter: blur(0.2em);

    p{
        margin: 0;
    }
    
}

#msg {
    position: relative;
    width: 4em;
    height: 1em;
    text-align: center;
    border-radius: 10px;
    /* border: 1px solid black; */
    top: 5%;
    left: 75%;
    z-index: 2;
    font-size: 4em;
    color: white;
    margin: 0;
    cursor: default;
}

.upload {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


video {
    background-color: black;
    width: 70em;
    height: 40em;
    border-radius: 28px;
    position: relative;
    top: -10.02%;
    z-index: 1;
}

#player {
    border: 5px dashed;
    width: 50em;
    height: 25em;
    border-radius: 30px;
    background-color: rgb(250, 249, 249);
}

.controls {
    display: none;
    justify-content: center;
    align-items: center;
    width: 60em;
    height: 2em;
    position: absolute;
    bottom: 1em;
}

button {
    cursor: pointer;

    img {
        width: 2em;
    }

    &:hover {
        background-color: lightblue;
    }
}

.volume {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: antiquewhite;
}

button[data-state="pause"] {
    background-image: url(assets/icons/media-pause-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-state="play"] {
    background-image: url(assets/icons/media-play-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-pip="false"] {
    background-image: url(assets/icons/picture-in-picture-2-fill-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-pip="true"] {
    background-image: url(assets/icons/picture-in-picture-exit-fill-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-loop="false"] {
    background-image: url(assets/icons/loop-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-loop="true"] {
    background-image: url(assets/icons/loop-1-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-volume="medium"] {
    background-image: url(assets/icons/medium-volume-speaker-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-volume="high"] {
    background-image: url(assets/icons/speaker-loud-volume-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-volume="low"] {
    background-image: url(assets/icons/low-volume-sound-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}

button[data-volume="mute"] {
    background-image: url(assets/icons/mute-volume-svgrepo-com.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3em;
    height: 2.8em;
}


.speed {
    background-color: aquamarine;
    height: inherit;
}